#searchBar-wrapper {
  padding-right: 8%;
  padding-left: 0;
  margin-left: 46%;
  max-width: 6%;
  height: 53px;
  transition: margin-left 0.5s cubic-bezier(1, 0, 0, 1),
    max-width 0.5s cubic-bezier(1, 0, 0, 1),
    padding-right 0.5s cubic-bezier(1, 0, 0, 1);
}
#searchBar-wrapper:hover {
  padding-right: 0%;
  margin-left: 20%;
  max-width: 60%;
}
#searchBar-wrapper-focus {
  padding-right: 0%;
  margin-left: 20%;
  max-width: 60%;
  transition: margin-left 0.5s cubic-bezier(1, 0, 0, 1),
    max-width 0.5s cubic-bezier(1, 0, 0, 1),
    padding-right 0.5s cubic-bezier(1, 0, 0, 1);
}

#searchBar {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(1, 0, 0, 1);
}
#searchBar:hover {
  display: flex;
  opacity: 1;
}
#searchBar-focus {
  display: flex;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(1, 0, 0, 1);
}
