$lightFontColor: #ffffff;
$lightBgImg: url("../res/Blue_sky.png");
$darkBgColor: #282c34;
$darkBgImg: url("../res/Starry_night_sky.png");

@mixin page-wide-fixed-bg($path) {
  background-image: url($path);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin search-bar-wrapper-transition {
  transition: margin-left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    max-width 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    padding-right 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    height 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    margin-bottom 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin search-bar-transition {
  transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    height 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    font-size 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

nav {
  opacity: 0.75;
  transition: background-color 0.15s cubic-bezier(1, 0, 0, 1),
    color 0.15s cubic-bezier(1, 0, 0, 1);
  &.night {
    background-color: transparent;
  }
}

footer {
  background-color: inherit;
  opacity: 0.75;
  color: #ffffff;
  transition: background-color 0.15s cubic-bezier(1, 0, 0, 1);
  &.night {
    background-color: #282c34;
    transition: background-color 0.15s cubic-bezier(1, 0, 0, 1);
  }
}

#main {
  @include page-wide-fixed-bg("../res/Blue_sky.png");
  padding: 0;
  padding-top: 30vh;
  min-height: 100vh;
  transition: padding-top 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    background-image 0.15s ease-in-out;
  &.night {
    background-image: url("../res/Starry_night_sky.png");
    color: #ffffff;
  }
  &-focus {
    padding: 0;
    padding-top: 35vh;
    min-height: 100vh;
    @include page-wide-fixed-bg("../res/Blue_sky.png");
    transition: padding-top 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &.night {
      background-image: url("../res/Starry_night_sky.png");
      color: #ffffff;
    }
  }
}

.page-block {
  background-color: rgba(255, 255, 255, 0.185);
}

#searchBar-row {
  background-color: transparent;
  padding-bottom: 10vh;
}
#searchBar-wrapper {
  @include search-bar-wrapper-transition;
  padding-right: 8%;
  padding-left: 0;
  margin-left: 46%;
  max-width: 6%;
  height: 53px;
  border: 4px solid #0d6efd;
  margin-bottom: inherit;
  &:hover {
    padding-right: 4%;
    margin-left: 20%;
    max-width: 60%;
  }
  &.night {
    border: 4px solid white;
  }
  &-focus {
    @include search-bar-wrapper-transition;
    padding-right: 4%;
    margin-left: 10%;
    max-width: 80%;
    height: 80px;
    border: 4px solid #0d6efd;
    margin-bottom: 55vh;
    &.night {
      border: 4px solid white;
    }
  }
}

#searchBar {
  @include search-bar-transition;
  opacity: 0;
  height: 100%;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.335);
  &:hover {
    display: flex;
    opacity: 1;
    height: 100%;
  }
  &.night {
    background-color: rgba(255, 255, 255, 0.185);
    color: #ffffff;
  }
}
#searchBar-focus {
  @include search-bar-transition;
  display: flex;
  opacity: 1;
  height: 100%;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.335);
  &.night {
    background-color: rgba(255, 255, 255, 0.185);
    color: #ffffff;
  }
}
#search-icon {
  padding-left: 0px;
  padding-right: 0px;
  transition: padding-left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    padding-right 0.1s linear;
  &-focus {
    padding-left: 50px;
    padding-right: 50px;
    transition: padding-left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
      padding-right 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}
